
* {outline: none !important;}
	iframe{border:medium none;}
::selection {
	background-color: #475B6F;
	color: #fff;
}

html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	overflow-y: scroll;
}

body {
	color:darkblue;	
	background: #f1f0f0;
}

p {margin: 0 0 20px 0;color: white}

img {max-width: 100%;}

a {
	text-decoration: none;
	outline: none;

}
footer{background: rgba(90,75,76,0.64);text-align: center;}

a{	
	color: white;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	transition: all .4s;
}

a:hover {
	color: red;	
}


h1, h2, h3, h4, h5, h6{		
	margin: 0 0 15px 0;	
	color: darkslateblue;
	font-family: 'Alegreya Sans';
}


#header {	
	position: relative;
	padding: 0 !important;
}

#header.header-wrapper {
	background: url(../images/header-bg.jpg) no-repeat center center;
	background-size: cover;
	display: table;
	height: 100vh;
	width: 100%;
	position: relative;
	z-index: 1;
	overflow-x: hidden; 
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    #header.header-wrapper {
		height: auto;
		min-height: 100vh;
		padding: 0px; 
	} 
}

#header.header-wrapper .header-wrapper-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle; 
}

#header .top {
	position:fixed;
	top:0;
	width: 100%;
	padding: 30px;
	height: auto;
	z-index: 500;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;	
	transition: all .5s;		
}

#header .top.solid {
    background: #475B6F;
    padding-top: 15px;
    padding-bottom: 15px;
}

#header .top h1{
	margin-bottom: 0;
}
#header .top.solid .toggleDrawer i {
    padding-top: 8px;
}

#header .logo, #header .toggleDrawer{
	font-family: 'Alegreya SC';
	color: white;
}

#header .slogan{
	font-size: 4em;
	margin-bottom: 15px;
	line-height: 1em;
	font-family: 'Nixie One';
	color: white;
}

#header .secondary-slogan{
	font-size: 1.6em;
	color: rgba(255,255,255,.5);
	line-height: 1em;
	font-family: 'Alegreya SC';
}

#header .bottom {
    bottom: 10%;
	display: block;
	position: absolute;
	width: 100%;
	z-index: 3;
}
#header .bottom a img {
    width: 50px;
}
#header .bottom a {
    opacity: 0.7;
}
#header .bottom a:hover {
    opacity: 1;
}

#drawer-right {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin-right: -300px;
    background: #2B3E51;
    width: 300px;
    padding: 20px;
    z-index: 999;
}

#drawer-right h1, #drawer-right h2{color: white;}

#drawer-right .nav-pills>li>a {
	font-size: 18px;
	border-radius: 0;
}
.block-body .p{color: whitesmoke}

.content-block{
	background: rgba(119,138,146,0.15) no-repeat center center fixed;
	-webkit-background-size:100%;
	-moz-background-size:100%;
	-o-background-size:100%;
	background-size:100%;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	overflow:hidden;
	padding: 30px 0;
}

.story {
	margin-top: 60px;
}

#services {
	background-image: url(../images/traffic.jpg);
	color: white;
}
#inputData {
	background-image: url(../images/03.jpg);
	color: white;
}
#contact {
	background-image: url(../images/newsletter-bg.png);
	color: white;
	background-color: #405162;
}
#inputData h1{
	margin-top: 10px;
	color:whitesmoke;
}
.recent-work {
    width: 100%;
    
    background: white;
    display: table;
    text-align: center;
    vertical-align: middle;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 30px;
}


#services h1, #services h2{
	color: white;
}
.service i {
    font-size: 60px;
}
.service {
    padding: 0 25px;
}
#footer{ background: #2B3E51; color: white;}

@media (max-width: 767px){
	#header .slogan {
		font-size: 2.8em; 
	} 

	#header .secondary-slogan {
		font-size: 1.2em;
	}

	.blog-post {
		margin-bottom: 40px;
	}

	.recent-work {
		background-position: center;
	}
}

@media (max-width: 480px) {
	#drawer-right {
		padding: 10px 20px;
	}

	#drawer-right .nav-pills>li>a {
		font-size: 17px;
	}

	.nav-stacked>li+li {
		margin-top: 0;
	}

	.nav>li>a {
		padding: 8px 15px;
	}

	#drawer-right .social {
		margin-top: 5px;
	}

	#header {
		background-size: cover;
	}
}
